<h1>簡単なプロフィール</h1>


<div class="card mt-4">
    <div class="card-header">
        代慶　真
    </div>
    <div class="card-body">
        <a href="#">代々木の代に慶應の慶で代慶です。</a><br />
        <a href="#">趣味はテニスで、お笑いとかも好きです。</a><br />
        <a href="#">人見知りしてしまいますが、頑張ります。</a><br />
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit">buttonボタン</button>