<div class="mb-4">
<h1>簡単なプロフィール</h1>
</div>

<div class="profile">
    <div class="hidden_box">
        <label for="label1">クリックしてください</label>
        <input type="checkbox" id="label1"/>
            <div class="hidden_show">
                <div class="card offset-md-1 col-md-10 offset-md-1">
                    <div class="card-header">
                        <h1>代慶　真</h1>
                    </div>
                    <div class="card-body">
                        <h2>代々木の代に慶應の慶で代慶です。</h2>
                        <h2>趣味はテニスで、お笑いとかも好きです。</h2>
                        <h2>人見知りしてしまいますが、頑張ります。</h2>
                    </div>
                </div>
            </div>
    </div>
    <div class="hidden">
    <p>安心してください！</br>はいてますよ。</p>
    </div>
</div>

<!--<div class="hidden_box">-->
<!--    <label for="label1">クリックして表示</label>-->
<!--    <input type="checkbox" id="label1"/>-->
<!--    <div class="hidden_show">-->
<!--      非表示ここから-->
<!--      	<p>ああああああ</p>-->
<!--      ここまで-->
<!--    </div>-->
<!--</div>-->